@mixin button($background: $background-button-color) {
    color: white;
    border-radius: 7px;
    padding: 5px 15px;
    background: $background;

    &:active {
        filter: brightness(0.8);
    }
}

#button {
    @include button;
}