#editor {
    background: $input-background-color;

    button {
        width: 3em;
        height: 2em;
        background: $background-primary-color;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}