// Colors
$background-primary-color: #252439;
$background-secondary-color: #1D1D32;
$input-background-color: #453B57;
$error-primary-color: #B79367;

// Color gradients
$background-button-color: linear-gradient(270deg, rgba(196,146,210,1) 0%, rgba(101,81,117,1) 100%);

// Font
$font-primary-color: #ABAFC4; 
$font-special-color: #C492D2;